:root {
  --color-background: #fff;
  --color-background-alt: #000;
  --color-text-light: #fff;
  --color-text-dark: #263646;
  --color-brand: #3100ed;

  --radius-md: 1rem;

  --font-family: "Avenir";
}
