.Header {
  --color-text: white;

  display: grid;
  place-items: center;
  grid-template-columns: min-content auto min-content;
  color: var(--color-text);
  background: var(--color-background-alt);
  overflow: hidden;

  %ball {
    height: 4rem;
    width: 4rem;
    display: grid;
    place-items: center;
    position: relative;

    &::before {
      content: "";
      background: var(--color-brand);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      aspect-ratio: 1;
      z-index: -1;
      transform: translate(-50%, -50%) scale(3);
      transition: ease-in-out 0.2s;

      @media (prefers-reduced-motion) {
        transition-duration: 0;
      }
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 0.8;
        transform: translate(50%, 50%) scale(3);
      }
    }

    &:focus {
      outline: none;
      &::before {
        outline: 1px solid var(--color-text);
      }
    }
  }

  .home {
    @extend %ball;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .menu {
    .trigger {
      @extend %ball;

      &::before {
        transform: translate(50%, -50%) scale(3);
      }

      &:hover,
      &:focus {
        &::before {
          transform: translate(-50%, 50%) scale(3);
        }
      }

      font-size: 1rem;
      color: inherit;
      background: none;
      border: none;
    }
  }
}
